# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
/backend/cert.pem
/backend/csr.pem
/backend/key.pem
key.pem
.pem
csr.pem
cert.pem
token.json
/backend/api/token.json
client_secret.json
.json
/backend/client_secret.json
client_secret_email.json
/backend/client_secret_email.json
credentials.yaml
/backend/credentials.yaml
/backend/.env
.env
/frontend/.env
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
